body {
    padding: 27px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.container {
    padding: 0 17px;
}

.card {
    position: relative;
    border: 1px solid #828282;
    border-radius: 16px;
    overflow: hidden;
}
.card:not(:last-child) {
    margin-bottom: 30px;
}
.card__bookmark {
    position: absolute;
    left: 0;
    top: 40px;
    display: inline-block;
    min-width: 99px;
    padding: 7px;
    text-align: center;
    background-color: #FED74B;
    font-weight: 600;
    font-size: 12px;
    color: #3E3E3E;
}
.card__bookmark_up {
    top: 0;
    background-color: #7553FF;
    border-radius: 15px 0px 12px;
    color: #FFFFFF;
    min-width: 129px;
    padding: 10px;
}
.card__content {
    padding: 14px 12px 19px;
}
.card__changer > *:first-child {
    margin-bottom: 13px;
}
.card__changer {
    margin-bottom: 17px;
} 
.card__header {
    line-height: 22px;
    font-weight: 600;
    color: #404040;
    font-size: 14px;
}
.card img {
    width: 100%;
}
.card:nth-child(2) img {
    width: 160%;
    margin-left: -25%;
} 

.trip-time {
    font-size: 12px;
    color: #9E9E9E;
    display: flex;
    align-items: center;
    position: relative;
}
.trip-time::before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #C7C7C7;
    margin-right: 9px;
}
.trip-time::after {
    content: "";
    position: absolute;
    left: 7px;
    top: 5px;
    width: 6px;
    height: 6px;
    border-radius: 1px;
    border-left: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7;
}
.trip-time_disable {
    display: none;
}

.card__item {
    color: #4B4B4B;
    display: flex;
}
.card__item:not(:last-child) {
    margin-bottom: 12px;
}
.card__item::before {
    content: "";
    width: 11px;
    height: 7px;
    border-left: 3px solid #FECF01;
    border-bottom: 3px solid #FECF01;
    border-radius: 2px;
    transform: rotate(-45deg);
    margin-right: 20px;
    margin-top: 6px;
    min-width: 11px;
}

.card__trip-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 35px;
}
.card__trip-item, .card__trip-more {
    padding: 2px 13px;
    min-width: 63px;
    background-color: #D9E8FF;
    border-radius: 11px;
    margin-top: 4px;
}
.card__trip-item:not(:last-child) {
    margin-right: 4px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row__text {
    display: flex;
    flex-direction: column;
}
.row__price {
    font-size: 30px;
    line-height: 20px;
}
.row__price-on-spot {
    font-size: 10px;
    line-height: 20px;
}
.row__price-on-spot_lh {
    margin-top: 11px;
    font-size: 10px;
    line-height: 11px;
}
.row__href {
    text-align: center;
    padding: 12px 15px;
    border-radius: 20px;
    color: #404040;
    background-color: #FED74B;
    border: 1px solid #CBA500;
    min-width: 165px;
    max-height: 44px;
    text-decoration: none;
}




@media (min-width: 500px) and (max-width: 1059px) {
    .card:nth-child(2) img {
        width: 100%;
        margin-left: 0;
    } 
}


@media (min-width: 1060px) {
    .container {
        max-width: 1200px;
        padding: 0;
    }
    .card {
        border: 1px solid #8E8E8E;
        border-radius: 15px;
        width: 1070px;
    }
    .card:nth-child(2),
    .card:nth-child(3) {
        border: 1px solid #8E8E8E;
        border-radius: 15px;
        width: 1106px;
    }
    .card img {
        width: 85%;
    }
    .card:nth-child(2) img,
    .card:nth-child(3) img {
        width: 77%;
        margin-left: 0;
    }
    .card__bookmark {
        background-color: #099CE8;
        color: #FFFFFF;
        min-width: 154px;
    }
    .card__bookmark_up {
        top: 40px;
        background-color: #FED74B;
        border-radius: 0;
        color: #323232;
        min-width: 180px;
        padding: 10px;
        font-size: 16px;
    }
    .card__content {
        padding: 16px 17px 21px 23px;
    }
    .card__changer {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 13px;
    }
    .card__header {
        line-height: 34px;
        font-size: 26px;
        margin-bottom: 13px;
    }
    .trip-time {
        order: 1;
        font-size: 14px;
    }
    .card__changer > *:first-child {
        margin-bottom: 0;
    }
    .card__item {
        font-size: 18px;
    }
    .card__text-list {
        display: flex;
    }
    .card__trip-item,
    .card-trip-more {
        margin-top: 0;
        margin-bottom: 6px;
    }
    .card__trip-item:nth-child(2) {
        background: #6BA6FF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        color: #FFFFFF;
    }
    .card__trip-list {
        margin-left: 11px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .card__list {
        margin-bottom: 24px;
    }
    .card {
        display: flex;
    }
    /* .card__trip-item:nth-child(4) {
        display: none;
    } */
    .card:nth-child(2) .card__trip-item:nth-child(4) {
        display: block;
    }
    .row {
        justify-content: left;
    }
    .row__text {
        margin-right: 10px;
    }
    .row__href {
        font-size: 18px;
    }
}


@media (min-width: 310px) and (max-width: 1069px) {
    card:nth-child(3) {
        display: none;
    }
}